xterm*termName: xterm-256color

XTerm*utf8: 1
!XTerm*faceName: DejaVu Sans Mono
!xterm*faceSize: 11
XTerm*faceName: System San Francisco Display 
xterm*faceSize: 11
xterm*vt100*geometry: 80x47
xterm*saveLines: 16384
xterm*loginShell: true
xterm*charClass: 33:48,35:48,37:48,43:48,45-47:48,64:48,95:48,126:48
xterm*eightBitInput: false
xterm*scrollBar: false
xterm*ScrollKey: true
xterm*visualbell: false
!Bold makes text lighter and not fat
xterm*boldMode: false
xterm*colorBDMode: true
xterm*colorBD: rgb:fc/fc/fc

#define black   #101010
#define white   #d8d8d8
#define red     #ff0090
#define green   #80ff00
#define yellow  #ffba68
#define blue    #5f5fee
#define purple  #7e40a5
#define cyan    #14ffff

! Molokai theme
*xterm*background: black
*xterm*foreground: white
*xterm*cursorColor: white
*xterm*color0: black
*xterm*color1: red
*xterm*color2: green
*xterm*color3: #c47f2c
*xterm*color4: #30309b
*xterm*color5: purple
*xterm*color6: cyan
*xterm*color7: #9999aa
*xterm*color8: #303030
*xterm*color9: #ff0090
*xterm*color10: #80ff00
*xterm*color11: #ffba68
*xterm*color12: #5f5fee
*xterm*color13: #bb88dd
*xterm*color14: #4eb4fa
*xterm*color15: #d0d0d0

! rofi color        bg      fg      bgalt   hlbg    hlfg
! ------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------
! "Color scheme for normal row" Set from: File
rofi.color-enabled: true
rofi.color-normal:                   black, white, black, black, red
! "Color scheme for urgent row" Set from: File
rofi.color-urgent:                   black, white, black, black, red
! "Color scheme for active row" Set from: File
rofi.color-active:                   black, white, black, black, white
! "Color scheme window" Set from: File
rofi.color-window:                   black, black, black
! "Separator style (none, dash, solid)" Set from: File
rofi.separator-style:                none
rofi.opacity: 90
rofi.padding: 400
rofi.fullscreen: true
rofi.i: true
